body{
    background-color: rgb(209, 246, 193);
}
.board{
    /* margin-bottom: 60px; */
    background-color: #A3F0F0;
    margin: auto;
}
.cell{
    text-align: center;
    height: 50px;
    width: 50px;
    border:rgb(139, 76, 140) solid 1px;
  
    
}
.hidden{
    font-size: 0;
    background-color: rgb(69, 183, 183);
}

.flag{
    /* background-image: url("img/flag.png"); */
    background-color: red;
}

.gameover{
    display: none;
    position: absolute;
    /* top:30%;
    right:40%; */
    box-shadow: 13px 11px 15px 5px rgba(0,0,0,0.6);
    background-color: cornflowerblue;
    z-index: 3;
    width: 260px;
    height:min-content 100px;
    text-align: center;
    margin: auto;
    padding: 10px; 

}

.mine{
    
    background-color: #6E524E;
}

.mine.clicked{
    background-color: rgb(245, 118, 101);
}

.lvls{
    margin: auto;
    width: 500px;
    height: 50px;
    text-align: center;
}
.timer{
    margin: auto;
    width: 300px;
    height: 30px; ;
    text-align: center;
    font-size: 25px;

}